# Core
numpy
pandas
opencv-python
opencv-python-headless
streamlit==1.47.0

# For YOLO
ultralytics

# RL environment (compatible with Python 3.10)
gym==0.26.2
stable-baselines3==2.0.0

# RL utils
matplotlib
torch
torchvision
scikit-learn

